@media only screen and (max-device-width: 900px) {
   .body {
      width: 100%;
   }
}

.box {
   display: flex;
   flex-direction: row;
}

textarea {
   resize: none;
}

.ibox {
   border: 8px solid rgb(4, 12, 12);
   border-style: groove;
   border-radius: 20px;
   width: 450px;
   height: 445px;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: space-around;
   margin: 1%;
   color: black;
   opacity: 85%;
   background-color: lightgray;
}

.resposta {
   border: 8px solid rgb(4, 12, 12);
   border-style: groove;
   border-radius: 20px;
   width: 330px;
   height: 445px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   margin: 1%;
   color: black;
   opacity: 85%;
   background-color: lightgray;
}

.titulo {
   font-style: italic;
   font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
   text-decoration: wavy;
   font-size: 30pt;
   color: white;
   text-align: center;
   margin-right: 15%;
}

body {
   display: block;
   background-image: url(Enigma.png);
   width: 90%;
   height: 90%;
   margin: 0 15% 3% 15%;
}

.button {
   margin-left: 10px;
   margin-top: 50px;
   font-family: Impact, fantasy;
   font-size: 15px;
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   background-color: transparent;
   width: 135px;
   height: 65px;
   border: groove 5px rgb(4, 12, 12);
   border-radius: 30px;
}
#imgTransfomar {
   padding-top: 0;
   width: 40px;
   height: 35px;
}

.button1 {
   margin-left: 10px;
   margin-top: 50px;
   font-family: Impact, fantasy;
   font-size: 15px;
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   background-color: transparent;
   width: 135px;
   height: 85px;
   border: groove 5px rgb(4, 12, 12);
   border-radius: 30px;
   background-color: rgb(206, 186, 186);
}
.button1:hover {
   background-color: rgb(5, 103, 136);
   transition: 0.5s;
   opacity: 60;
}

.button:hover {
   background-color: rgb(5, 103, 136);
   transition: 0.5s;
   opacity: 60;
}

footer {
   position: fixed;
   right: 0%;
   bottom: 0%;
   background-color: rgb(4, 12, 12);
   color: #fff;
   width: 100%;
   height: 35px;
   line-height: 25px;
   text-align: end;
   padding-right: 3%;
}
